*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}


/*--------------------------loading animation----------------------------*/

#loader{
    position: absolute;
    border: 16px solid gray;
    border-radius: 50%;
    border-top: 16px solid red;
    border-bottom: 16px solid yellow;
    height: 180px;
    width: 180px;
    top: 50%;
    left: 50%;
    margin: -76px 0 0 -76px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
      
}

@-webkit-keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.main-container{
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom{
    from{
        bottom: -500px;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
    
}


@keyframes animatebottom{
     from{
        bottom: -500px;
        opacity: 0;
     }
     to{
        bottom: 0;
        opacity: 1;
     }

}


/*-------------------------------end of loading animataion-------------------------*/

.header{
    height: 58px;
    background-color: #e4163d;
    width: 100%;
    display: flex;   
    justify-content: space-between ;
    align-items: center;
   
}
.burgerMenu{
    color: white;    
    padding-left: 10px;   
    font-size: 23px;
    cursor: pointer;
    
}




  /* -------------------------------left side navbar -------------------------------*/  
  .leftSideNav{
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #111;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    padding-top: 40px;

}
.leftSideNav a{
    font-size: 30px;
    font-weight: bolder;
    color: orange;
    text-decoration: none;
    margin-left: 40px;
    display: block;
}
.leftSideNav a:hover{
    color: red;

}
.leftSideNav #btnClose{
    margin-left: 200px;
    color: aqua;
    font-size: 45px;
}
.leftSideNav #btnClose:hover{
    color: rgb(38, 0, 255);
}

/*-------------------------------end of left side navbar----------------------------*/


.spongePhoto2{
    width: 50px;
    height: 50px;
    
}

.sign-In{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#signIn{
    color:white;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
   
}
.sponge1{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}


@media screen and (max-width: 1350px) {

    .header{
        height: 70px;
        background-color: #b0e20d;        
        display: flex;   
        justify-content: space-between ;
        align-items: center;
       
    }
    .burgerMenu{
        color: white;    
        padding-left: 10px;   
        font-size: 23px;
        cursor: pointer;
        
    }
    
    .spongePhoto2{
        width: 50px;
        height: 50px;
        
    }
    
    .sign-In{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    
    #signIn{
        color:white;
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
       
    }
    .sponge1{
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }

    
}

/* max width of 1050px */

@media screen and (max-width: 1050px) {

    .header{
        height: 70px;
        background-color: orange;        
        display: flex;   
        justify-content: space-between ;
        align-items: center;
       
    }
    .burgerMenu{
        color: white;    
        padding-left: 10px;   
        font-size: 23px;
        cursor: pointer;
        
    }
    
    .spongePhoto2{
        width: 50px;
        height: 50px;
        
    }
    
    .sign-In{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    
    #signIn{
        color:white;
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
       
    }
    .sponge1{
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }

    
}

/* max-width 960px */

@media screen and (max-width: 960px) {

    .header{
        height: 70px;
        background-color: #1a0b58;        
        display: flex;   
        justify-content: space-between ;
        align-items: center;
        top: 3px;
    }
    .burgerMenu{
        color: white;    
        padding-left: 10px;   
        font-size: 23px;
        cursor: pointer;
        
    }
    
    .spongePhoto2{
        width: 50px;
        height: 50px;
        
    }
    
    .sign-In{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    
    #signIn{
        color:white;
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
       
    }
    .sponge1{
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }

    
}

/* maximum width 635px */

@media screen and (max-width: 635px) {

    .header{
        height: 58px;
        background-color: #990663;        
        display: flex;   
        justify-content: space-between ;
        align-items: center;
        position: fixed;
        z-index: 1;
       
       
    }
    .burgerMenu{
        color: white;    
        padding-left: 10px;   
        font-size: 23px;
        cursor: pointer;
        
    }
    
    .spongePhoto2{
        width: 50px;
        height: 50px;
        
    }
    
    .sign-In{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    
    #signIn{
        color:white;
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
       
    }
    .sponge1{
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }
    .menuContainer{
        background-color: #cad2d7;
        padding-bottom: 10px;
        
    }

    .sellerBar{
        height: 49px;
        width: 98%;     
        margin: auto;
        margin-top: 75px;
        
        display: flex;
        align-items: center;
        justify-content: flex-start;        
        background-color:rgb(242, 232, 245);
        box-shadow: 5px 3px 18px blue;
        position: sticky;
        z-index: 1;
        top: 62px;
    }
    #arrow{
        margin-left: 20px;
    }
    #arrow:hover{
        color: red;
    }
    #bestTitle{
        margin-left: 20px;
    }
    .columnOne{
        display: flex;
        align-items: center;
        justify-content: center;              
       margin-top: 20px;
    }
    #columnOnePic1Hover{
        cursor: pointer;
       
    }
    #columnOnePic1Hover:hover{
        background-color: red;

    }
    #columnOnePic2Hover{
        cursor: pointer;
        user-select: none;
    }
    .columnTwo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .columnThree{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

    }
    .columnFourth{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .columnFifth{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .columnSix{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .columnSeven{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .columnEight{
        display: flex;
        align-items: center;
        justify-content:center;
        margin-top: 10px;
               
    }
    .columnNine{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .columnTen{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
       
    }
    .columnEleven{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .columnTwelve{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .footer{
        height: 500px;
        background-color: #e4163d;
        
    }
    .links{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    .links > p{           
        margin-bottom: 15px;      
        
    }
    .links > p:hover{
        color: rgb(0, 255, 98);
    }
   
}

/*-------------- modal section for 8pc. Chickenjoy----------- */
.mainModal-container{
    position: fixed;
    z-index: 1;
    display: none;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

.modal-content{
    background-color: white;
    width: 70%;
    margin: auto;
    font-size: 14px;
    margin-top: 5.5px;
    height: 340px;
    border-radius: 0px 0px 17px 17px;    
}

#myPara{
    float: right;    
}

.close{
    color: red;
    font-size: 20px;
}

.close:hover, .close:focus{
    color: black;
    font-size: 40px;
}
/*-----------Longganisa w/Drink----------*/
.close2{
    color: red;
    font-size: 20px;
}

.close2:hover, .close2:focus{
    color: black;
    font-size: 40px;
}
/*-----------Beef Tapa----------*/
.close3{
    color: red;
    font-size: 20px;
}

.close3:hover, .close3:focus{
    color: black;
    font-size: 40px;
}
/*-----------Corned Beef----------*/
.close4{
    color: red;
    font-size: 20px;
}

.close4:hover, .close4:focus{
    color: black;
    font-size: 40px;
}
/*-----------1-pc. Breakfast Chickenjoy----------*/
.close5{
    color: red;
    font-size: 20px;
}

.close5:hover, .close5:focus{
    color: black;
    font-size: 40px;
}
/*-----------2-pc. Breakfast Chickenjoy----------*/
.close6{
    color: red;
    font-size: 20px;
}

.close6:hover, .close6:focus{
    color: black;
    font-size: 40px;
}
/*-----------Breakfast Burger Steak----------*/
.close7{
    color: red;
    font-size: 20px;
}

.close7:hover, .close7:focus{
    color: black;
    font-size: 40px;
}
/*-----------Breakfast Shanghai----------*/
.close8{
    color: red;
    font-size: 20px;
}

.close8:hover, .close8:focus{
    color: black;
    font-size: 40px;
}
/*-----------Breakfast Shanghai----------*/
.close9{
    color: red;
    font-size: 20px;
}

.close9:hover, .close9:focus{
    color: black;
    font-size: 40px;
}
/*-----------2 pc pancakes----------*/
.close10{
    color: red;
    font-size: 20px;
}

.close10:hover, .close10:focus{
    color: black;
    font-size: 40px;
}
/*-----------Egg & Cheese Pancake Sandwich----------*/
.close11{
    color: red;
    font-size: 20px;
}

.close11:hover, .close11:focus{
    color: black;
    font-size: 40px;
}
/*-----------Egg & Cheese Sandwich----------*/
.close12{
    color: red;
    font-size: 20px;
}

.close12:hover, .close12:focus{
    color: black;
    font-size: 40px;
}
/*-----------Egg & Cheese Sandwich----------*/
.close13{
    color: red;
    font-size: 20px;
}

.close13:hover, .close13:focus{
    color: black;
    font-size: 40px;
}
/*-----------Bacon, Egg & Cheese Sandwich----------*/
.close14{
    color: red;
    font-size: 20px;
}

.close14:hover, .close14:focus{
    color: black;
    font-size: 40px;
}